@model IEnumerable<cumulative1.Models.Teacher>

<h1>Add a new Teacher</h1>

<form method="POST" action="/TeacherPage/Create" name="createform">
    <div>
        <label for="TeacherFname">First name:</label>
        <input type="text" name="TeacherFname" id="TeacherFname" />
    </div>
    <div>
        <label for="TeacherLname">Last name:</label>
        <input type="text" name="TeacherLname" id="TeacherLname" />
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" name="EmployeeNumber" id="EmployeeNumber" />
    </div>
    <div>
        <label for="HireDate">Hire Date:</label>
        <input type="datetime-local" name="HireDate" id="HireDate" />
    </div>
    <div>
        <label for="Salary">Salary($):</label>
        <input type="text" name="Salary" id="Salary" />
    </div>
    <div>
        <input type="submit" value="Add Teacher" />
    </div>
</form>

<script>
    window.onload = function () {
        var formHandle = document.forms.createform;
        formHandle.onsubmit = processForm;
        function processForm() {
            var inputF = formHandle.TeacherFname;
            if (inputF.value === "") {
                inputF.style.background = "red";
                inputF.focus();
                return false;
            };

            var inputL = formHandle.TeacherLname;
            if (inputL.value === "") {
                inputL.style.background = "red";
                inputL.focus();
                return false;
            };

            var stringD = formHandle.HireDate;
            var inputD = new Date(stringD.value);
            var currentD = new Date();
            if (stringD.value ==="" || inputD > currentD) {
                stringD.style.background = "red";
                stringD.focus();
                return false;
            };

            var inputEnum = formHandle.EmployeeNumber;
            var numReg = /^T\d{3}$/;
            if (!numReg.test(inputEnum.value)) {
                inputEnum.style.background = "red";
                inputEnum.focus();
                return false;
            };
        };
    };
</script>

