<h1>Add a new Student</h1>

<form method="POST" action="/StudentPage/Create">
    <div>
        <label for="StudentFname">First name:</label>
        <input type="text" name="StudentFname" id="StudentFname" />
    </div>
    <div>
        <label for="StudentLname">Last name:</label>
        <input type="text" name="StudentLname" id="StudentLname" />
    </div>
    <div>
        <label for="StudentNumber">Student Number:</label>
        <input type="text" name="StudentNumber" id="StudentNumber" />
    </div>

    <div>
        <input type="submit" value="Add Student" />
    </div>
</form>
